@font-face {
    font-family: "Syne-Regular";
    src: url("fonts/Syne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff"); 
}

@font-face {
    font-family: "hkgrotesk_regular";
    src: url("fonts/hkgrotesk_regular.woff") format("woff"); 
}

body {
    background-color: black;
    font-family: "Syne-Regular", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0px;
    font-family: "Syne-Regular", sans-serif;
}

p {
    margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
    color: rgb(252, 252, 71);
}

html {
  scroll-behavior: smooth;
}

.p1-bilder,
.p2-bilder,
.p3-bilder {
  scroll-margin-top: 50px;
}

.grid-container {
    display: grid;
    padding: 40px 40px;
    gap: 15px;
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "bioklein bioklein nameklein nameklein nameklein projektaufzählung projektaufzählung"
    ". p1-text p1-text p1-bilder p1-bilder p1-bilder p1-bilder"
    ". . . p1-bilder p1-bilder p1-bilder p1-bilder"
    ". . . . p1-zoom p1-zoom ."
    "p2-bilder p2-bilder p2-bilder p2-bilder p2-text p2-text ."
    "p2-bilder p2-bilder p2-bilder p2-bilder . . ."
    ". p2-zoom p2-zoom . . . ."
    ". p3-text p3-text p3-bilder p3-bilder p3-bilder p3-bilder"
    ". . . p3-bilder p3-bilder p3-bilder p3-bilder"
    ". . . . p3-zoom p3-zoom .";
}

.nameklein {
    grid-area: nameklein;
}

.nameklein p {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.nameklein a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nameklein a:hover {
    color: rgb(252, 252, 71);
}

.bioklein {
    grid-area: bioklein;
}

.bioklein p {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.projektaufzählung {
    grid-area: projektaufzählung;
}

.projektaufzählung p {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

/* p1 */

.p1-bilder {
    grid-area: p1-bilder;
}

.p1-text {
    grid-area: p1-text;
    /* align-self: center; */
    text-align: right;
    color: white;
    margin-left: 50px;
}

.p1-zoom {
    grid-area: p1-zoom;
    color:white;
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: "hkgrotesk_regular", sans-serif;
    font-size: 20px;
}

.p1-zoom :hover {
    color: rgb(252, 252, 71);

}
.p1-zoom-2x {
    color: rgb(252, 252, 71);
}


.p1-zoom-05x,
.p1-zoom-1x,
.p1-zoom-2x {
    background-color: rgb(112, 112, 112);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;              /* add this */
    align-items: center;        /* vertical center */
    justify-content: center;    /* horizontal center */
}

/* p2 */

.p2-bilder {
    grid-area: p2-bilder;
}

.p2-text {
    grid-area: p2-text;
    /* align-self: center; */
    text-align: left;
    color: white;
    margin-right: 50px;
}

.p2-zoom {
    grid-area: p2-zoom;
    color:white;
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: "hkgrotesk_regular", sans-serif;
    font-size: 20px;
}
.p2-zoom :hover {
    color: rgb(252, 252, 71);
}


.p2-zoom-05x,
.p2-zoom-1x,
.p2-zoom-2x {
    background-color: rgb(112, 112, 112);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;              /* add this */
    align-items: center;        /* vertical center */
    justify-content: center;    /* horizontal center */
}


/* p3 */

.p3-bilder {
    grid-area: p3-bilder;
}

.p3-text {
    grid-area: p3-text;
    align-self: center;
    text-align: right;
    color: white;
    margin-left: 60px;
}

.p3-zoom {
    grid-area: p3-zoom;
    color:white;
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: "hkgrotesk_regular", sans-serif;
    font-size: 20px;
}

.p3-zoom :hover {
    color: rgb(252, 252, 71);
}

.p3-zoom-1x,
.p3-zoom-2x {
    background-color: rgb(112, 112, 112);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;              /* add this */
    align-items: center;        /* vertical center */
    justify-content: center;    /* horizontal center */
}



/* ANIMATION ZOOM P1 */

/* Default: only 2x visible */
.p1-05x {
  display: none;
}
.p1-1x {
  display: none;
}
.p1-2x {
  display: block;
}

/* Hover 0.5x → show 0.5x, hide 2x */
.p1-zoom:has(.p1-zoom-05x:hover) ~ .p1-bilder .p1-05x {
  display: block;
}
.p1-zoom:has(.p1-zoom-05x:hover) ~ .p1-bilder .p1-2x {
  display: none;
}
 
/* Hover 1x → show 1x, hide 2x */
.p1-zoom:has(.p1-zoom-1x:hover) ~ .p1-bilder .p1-1x {
  display: block;
}
.p1-zoom:has(.p1-zoom-1x:hover) ~ .p1-bilder .p1-2x {
  display: none;
}



/* ANIMATION ZOOM P2 */

/* Default: only 2x visible */
.p2-05x {
  display: none;
}
.p2-1x {
  display: none;
}
.p2-2x {
  display: block;
}

/* Hover 0.5x → show 0.5x, hide 2x */
.p2-zoom:has(.p2-zoom-05x:hover) ~ .p2-bilder .p2-05x {
  display: block;
}
.p2-zoom:has(.p2-zoom-05x:hover) ~ .p2-bilder .p2-2x {
  display: none;
}
 
/* Hover 1x → show 1x, hide 2x */
.p2-zoom:has(.p2-zoom-1x:hover) ~ .p2-bilder .p2-1x {
  display: block;
}
.p2-zoom:has(.p2-zoom-1x:hover) ~ .p2-bilder .p2-2x {
  display: none;
}



/* ANIMATION ZOOM P3 */

/* Default: only 2x visible */

.p3-1x {
  display: none;
}
.p3-2x {
  display: block;
}
 
/* Hover 1x → show 1x, hide 2x */
.p3-zoom:has(.p3-zoom-1x:hover) ~ .p3-bilder .p3-1x {
  display: block;
}
.p3-zoom:has(.p3-zoom-1x:hover) ~ .p3-bilder .p3-2x {
  display: none;
}