@font-face {
    font-family: "Syne-Regular";
    src: url("fonts/Syne-Regular.woff2") format("woff2");
}

Body {
    background-color: rgb(255, 255, 255);
    font-family: "Syne-Regular", sans-serif;
}

p {
    margin: 0px;
    color:rgb(17, 255, 68);
    font-size: 25px;
    transition: color 0.5s ease;
    transition: transform 0.5s ease;
}

p:hover {
    color: black;
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    color:rgb(17, 255, 68);
    font-family: "DotsAllForNowJL";
    src: url("fonts/DotsAllForNowJL.woff2") format("woff2");
}



.grid-container {
    display: grid;
    padding: 15px 30px 5px 15py;
    gap: 15px;
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name name"
    "bio bio bio bio"
    ". image-1 image-1 text-1"
    "text-2 image-2 image-2 ."
    ". image-3 image-3 text-3";

}

.name {
    grid-area: name;
    /* Das Etwas an Position bleibt!: */
    position: sticky;
    top: 0;
    /* Das etwas die gegengesetzte Farbe bekommt. Dafür muss Text gleube ich weiss sein: */
    mix-blend-mode: difference;
}

.name h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}


.bio {
    grid-area: bio;
    align-self: center;
    margin-bottom: 20px;
}

.bio p {
    text-align: center;
    font-size: 25px;
    /* Das es durchsichtiger wird */
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio p:hover {
    opacity: 0.5;
}

.image-1 {
    grid-area: image-1;
}

.image-1 img {
    /* Das, dass Bild langsamer grösser wird */
    transition: transform 0.5s ease;
}

.image-1 img:hover {
    /* Das sich die Grösse verändert: */
    transform: scale(0.5)
}

.image-2 {
    grid-area: image-2;
}

.image-2 img {
    /* für bei Hover schatten */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s ease;
}

.image-2 img:hover {
    /* vordere Zahlen sind Grösse und hintere sind Farben */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}


.image-3 {
    grid-area: image-3;
}

.image-3 img {
    transition: transform 0.5s ease;
}

.image-3 img:hover {
    /* man kann auch transformationen kombinieren */
    transform: rotate(150deg) scale(1.5)

}

.text-1 {
    grid-area: text-1;
    align-self: center;
    text-align: center;
}

.text-2 {
    grid-area: text-2;
    align-self: center;
    text-align: center;
}

.text-3 {
    grid-area: text-3;
    align-self: center;
    text-align: center;
}

