@font-face {
    font-family: "Syne-Regular";
    src: url("fonts/Syne-Regular.woff2") format("woff2");
}

Body {
    background-color: rgb(255, 0, 183);
    font-family: "Syne-Regular", sans-serif;
}

p {
    margin: 0px;
    color:rgb(17, 255, 68);
    font-size: 25px;
    transition: color 0.5s ease;
}

p:hover {
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    color:rgb(17, 255, 68);
    font-family: "DotsAllForNowJL";
    src: url("fonts/DotsAllForNowJL.woff2") format("woff2");
}



.grid-container {
    display: grid;
    padding: 15px 30px 5px 15py;
    gap: 15px;
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name name"
    "bio bio bio bio"
    ". image-1 image-1 text-1"
    "text-2 image-2 image-2 ."
    ". image-3 image-3 text-3";

}

/* NAME */

.name {
    grid-area: name;
}

.name h1 {
    text-align: center;
    font-size: 60px;
}

/* BIO */

.bio {
    grid-area: bio;
    align-self: center;
    margin-bottom: 20px;
}

.bio p {
    text-align: center;
    color:rgb(17, 255, 68);
    font-size: 25px;
    margin: 0;
}

/* IMAGES */

.image-1 {
    grid-area: image-1;
    transition: transform 0.5 ease;
}

.image-1:hover {
    transform: scale(1.05);
}

.image-2 {
    grid-area: image-2;
    transition: transform 0.5 ease;
}

.image-2:hover {
    transform: scale(1.05);
}

.image-3 {
    grid-area: image-3;
    transition: transform 0.5 ease;
}

.image-3:hover {
    transform: scale(1.05);
}

/* TEXTS */

.text-1 {
    grid-area: text-1;
    align-self: center;
    text-align: center;
}

.text-2 {
    grid-area: text-2;
    align-self: center;
    text-align: center;
}

.text-3 {
    grid-area: text-3;
    align-self: center;
    text-align: center;
}

